@media only screen and (min-width: 1200px) {
    .container {
      width: 1210px;
    }
  }
  
  @media only screen and (min-width: 960px) and (max-width: 1199px) {
    .container {
      width: 1030px;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    .container {
      width: 682px;
    }
  }
  
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {
      width: 428px;
      margin: 0 auto;
    }
  }
  
  @media only screen and (max-width: 479px) {
    .container {
      width: 320px;
      margin: 0 auto;
    }
  }

@media only screen and (min-width: 960px) and (max-width: 1199px) {
    .mcd-menu {
      margin-left: 10px;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 959px) {
    .mcd-menu {
      width: 200px;
    }
    .mcd-menu li a {
      height: 30px;
    }
    .mcd-menu li a i {
      font-size: 22px;
    }
    .mcd-menu li a strong {
      font-size: 12px;
    }
    .mcd-menu li a small {
      font-size: 10px;
    }
    .mcd-menu li a.search input {
      width: 120px;
      font-size: 12px;
    }
    .mcd-menu li a.search buton {
      padding: 8px 10px 9px 10px;
    }
    .mcd-menu li > ul {
      min-width: 180px;
    }
    .mcd-menu li:hover > ul {
      min-width: 180px;
      left: 200px;
    }
    .mcd-menu li ul li > ul, .mcd-menu li ul li ul li > ul {
      min-width: 150px;
    }
    .mcd-menu li ul li:hover > ul {
      left: 180px;
      min-width: 150px;
    }
    .mcd-menu li ul li ul li:hover > ul {
      left: 150px;
      min-width: 150px;
    }
    .mcd-menu li ul a {
      font-size: 12px;
    }
    .mcd-menu li ul a i {
      font-size: 14px;
    }
  }

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .mcd-menu {
      width: 50px;
    }
    .mcd-menu li a {
      position: relative;
      padding: 12px 16px;
      height: 20px;
    }
    .mcd-menu li a small {
      display: none;
    }
    .mcd-menu li a strong {
      display: none;
    }
    .mcd-menu li a:hover strong, .mcd-menu li a.active strong {
      display: block;
      font-size: 10px;
      padding: 3px 0;
      position: absolute;
      bottom: 0px;
      left: 0;
      background: #e67e22;
      color: #FFF;
      min-width: 100%;
      text-transform: lowercase;
      font-weight: normal;
      text-align: center;
    }
    .mcd-menu li .search {
      display: none;
    }
    .mcd-menu li > ul {
      min-width: 180px;
      left: 70px;
    }
    .mcd-menu li:hover > ul {
      min-width: 180px;
      left: 50px;
    }
    .mcd-menu li ul li > ul, .mcd-menu li ul li ul li > ul {
      min-width: 150px;
    }
    .mcd-menu li ul li:hover > ul {
      left: 180px;
      min-width: 150px;
    }
    .mcd-menu li ul li ul li > ul {
      left: 35px;
      top: 45px;
      border: 0;
      border-top: 4px solid #e67e22;
    }
    .mcd-menu li ul li ul li > ul:before {
      left: 30px;
      top: -9px;
      border: 0;
      border-bottom: 5px solid #e67e22;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
    }
    .mcd-menu li ul li ul li:hover > ul {
      left: 30px;
      min-width: 150px;
      top: 35px;
    }
    .mcd-menu li ul a {
      font-size: 12px;
    }
    .mcd-menu li ul a i {
      font-size: 14px;
    }
  }
  
  @media only screen and (max-width: 479px) {
    
    
    
    
    
    .mcd-menu {
      width: 50px;
    }
    .mcd-menu li a {
      position: relative;
      padding: 12px 16px;
      height: 20px;
    }
    .mcd-menu li a small {
      display: none;
    }
    .mcd-menu li a strong {
      display: none;
    }
    .mcd-menu li a:hover strong, .mcd-menu li a.active strong {
      display: block;
      font-size: 10px;
      padding: 3px 0;
      position: absolute;
      bottom: 0px;
      left: 0;
      background: #e67e22;
      color: #FFF;
      min-width: 100%;
      text-transform: lowercase;
      font-weight: normal;
      text-align: center;
    }
    .mcd-menu li .search {
      display: none;
    }
    .mcd-menu li > ul {
      min-width: 180px;
      left: 70px;
    }
    .mcd-menu li:hover > ul {
      min-width: 180px;
      left: 50px;
    }
    .mcd-menu li ul li > ul, .mcd-menu li ul li ul li > ul {
      min-width: 150px;
    }
    .mcd-menu li ul li:hover > ul {
      left: 180px;
      min-width: 150px;
    }
    .mcd-menu li ul li ul li > ul {
      left: 35px;
      top: 45px;
      border: 0;
      border-top: 4px solid #e67e22;
    }
    .mcd-menu li ul li ul li > ul:before {
      left: 30px;
      top: -9px;
      border: 0;
      border-bottom: 5px solid #e67e22;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
    }
    .mcd-menu li ul li ul li:hover > ul {
      left: 30px;
      min-width: 150px;
      top: 35px;
    }
    .mcd-menu li ul a {
      font-size: 12px;
    }
    .mcd-menu li ul a i {
      font-size: 14px;
    }
  }